.App {
  text-align: center;
  font-family: "Gotham SSm A","Gotham SSm B",sans-serif;
}

.topdiv {
  background-image: url('./images/kite-background.png');
  padding: 150px; 
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.education {
  background-color: #545376;
  padding: 150px; 
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.projects{
  padding: 150px;
  height: 100%;
}

.hobbies{
  background-color: #802020;
  padding: 120px;
  height: 100%;
}


.center{
  display: inline-block;
}

.topdiv p{
  font-size: 24px;
}

.education p{
  font-size: 18px;
  font-weight: bold;
}

.navheader{
  font-weight: bold;
  
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

